body {
    background-color: rgb(9, 64, 95);
    color: whitesmoke;
    font-family: "Kanit", sans-serif;
    font-style: normal;
}

.navbar {
    display: flex;
}

.navlist {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin-left: 40%;
}

.navlist li {
    padding: 18px;
}

.navlist li a {
    text-decoration: none;
    color: white;
}

.navlist li a:hover {
    text-decoration: none;
    color: rgb(5, 205, 255);
    cursor: pointer;
}

.logoText {
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 60px;
    margin-top: 14px;
    padding: 4px;
    text-shadow: 2px 2px 4px white;
    cursor: pointer;
}

.sectionHeading {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 0 2px 4px white;
    text-decoration: underline;
    margin: 30px;
}

.main {
    display: flex;
    justify-content: center;
    text-align: center;
}

.gifContainer {
    margin:12px;
    padding: 8px;
    text-align: center;
}

#gifImage {
    border-radius: 10px;
    box-shadow: 0 0 20px #ccc;
    margin-top: 20px;
}

.FormContainer {
    display: flex;
    justify-content: space-around;
    border: 4px solid wheat;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 20px #ccc;
}

.headingName {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 8px;
}

.form-control {
    margin-top: 10px;
}


#btn {
    background-color: rgb(15, 135, 210);
    color: white;
    padding: 8px 36px;
    border-radius: 25px;
    font-weight: 600;
    width: 100%;
    margin-top: 16px;
}

#btn:hover {
    cursor: pointer;
    box-shadow: 5px 5px 30px white;
    border: 2px solid wheat;
}

#name, #user_email, #name, #contact, #desc{
    width: 300px;
    padding: 8px 12px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    margin: 8px;
}
#name:focus, #user_email:focus, #contact:focus, #desc:focus {
    border: 4px solid rgb(25, 3, 107);
    outline: none;
}